In [6]:
import pandas as pd
df = pd.read_csv('datasets/MENS_CLOTHING_SALES_2018 .csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
StoreCode          400 non-null int64
AnnualSales        385 non-null float64
Sales              385 non-null float64
SFloorSize         400 non-null int64
TotalInvestment    385 non-null float64
dtypes: float64(3), int64(2)
memory usage: 15.7 KB

In [11]:
print('----Annual Sales----')
print(df['AnnualSales'].describe())
print('-------Sales-------')
print(df['Sales'].describe())
print('----SFloorSize----')
print(df['SFloorSize'].describe())
print('----Total Investment----')
print(df['TotalInvestment'].describe())

count      385.000000
mean      6353.494951
std       3770.794382
min        300.000000
25%       3904.200000
50%       5333.333000
75%       7822.003000
max      27000.000000
Name: Sales, dtype: float64
5000.000     7
4884.085     6
3764.163     5
8000.000     5
4958.764     5
4953.400     5
8333.333     4
6191.750     4
4503.091     3
3305.843     3
3904.200     3
5018.883     3
7713.633     3
3538.143     3
12210.210    3
6942.270     3
3907.268     3
6022.660     3
6000.000     3
9768.170     3
6311.155     2
1952.100     2
2790.906     2
3333.333     2
3345.922     2
3750.000     2
3011.330     2
6604.533     2
5745.982     2
4338.919     2
            ..
6302.045     1
4361.111     1
3339.520     1
2500.063     1
9917.528     1
3085.453     1
4628.180     1
5553.816     1
4575.000     1
5573.327     1
3503.257     1
11555.560    1
7594.292     1
5182.721     1
7649.844     1
8166.667     1
5833.333     1
3669.185     1
4166.667     1
6192.661     1
4291.672     1
2081.250     1
5821.429     1
5467.033     1
3625.000     1
6500.000     1
1382.018     1
17512.680    1
2079.365     1
15000.000    1
Name: Sales, Length: 308, dtype: int64