In [4]:
import pandas as pd
df = pd.read_csv('datasets/POS_TRANSACTIONS_2018 .csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459258 entries, 0 to 459257
Data columns (total 5 columns):
Location            459258 non-null int64
Transaction_Id      459258 non-null int64
Transaction_Date    459258 non-null object
Product_Name        459258 non-null object
Quantity            459258 non-null int64
dtypes: int64(3), object(2)
memory usage: 17.5+ MB

In [5]:
print('----Location----')
print(df['Location'].value_counts())
print('-------Transaction_Id-------')
print(df['Transaction_Id'].value_counts())
print('----Transaction_Date----')
print(df['Transaction_Date'].value_counts())
print('----Product_Name----')
print(df['Product_Name'].value_counts())
print('----Quantity----')
print(df['Quantity'].value_counts())

----Location----
7     46570
3     46381
6     46299
2     46100
5     46032
8     45993
1     45896
10    45516
4     45354
9     45117
Name: Location, dtype: int64
-------Transaction_Id-------
205484     170
79610      164
362087     148
816536     135
1211036    126
34322      123
450677     117
75389      107
1143932     95
205490      94
824726      86
1014407     83
873266      81
297173      80
1068674     75
258056      75
967577      74
427835      73
743966      69
205496      69
712436      66
1140599     63
1131095     62
513455      61
246527      60
79655       60
1118885     59
194294      59
106274      59
1172354     58
          ...
1095557      1
34691        1
561026       1
40832        1
999284       1
686045       1
1038185      1
495458       1
935771       1
933716       1
919379       1
925520       1
585614       1
1056656      1
1058711      1
1152929      1
114596       1
642986       1
116651       1
1177517      1
651182       1
69554        1
77750        1
620477       1
692162       1
188360       1
182219       1
1189847      1
1204184      1
698837       1
Name: Transaction_Id, Length: 200000, dtype: int64
----Transaction_Date----
12/28/2017    97866
12/26/2017    87553
12/27/2017    85837
12/24/2017    79778
12/25/2017    57501
12/29/2017    42061
12/23/2017     8662
Name: Transaction_Date, dtype: int64
----Product_Name----
Sketching Markers      73951
Flash Card             63805
Exercise book          62375
DVD media              40292
Lanyards               38123
Wristbands             36032
Laminator              25142
Drink bottle           24554
Puzzle                 17227
Power Bank             16386
Digital Clock          15774
Soap                   14415
Certificate Frame      12452
Mini Stationery Set     8833
Photo Frame             5702
Watercolor Set          2605
USB Flash Drive         1590
Name: Product_Name, dtype: int64
----Quantity----
1    459258
Name: Quantity, dtype: int64

In [14]:
transactionsTest = df.groupby(['Transaction_Id', 'Transaction_Date'])['Product_Name'].apply(list)
print(transactionsTest.head(10))

Transaction_Id  Transaction_Date
12359           12/23/2017                                            [Exercise book]
12362           12/23/2017                 [Mini Stationery Set, Mini Stationery Set]
12365           12/23/2017                                               [Flash Card]
12371           12/23/2017                                             [Drink bottle]
12380           12/23/2017                                                [DVD media]
12383           12/23/2017                 [Mini Stationery Set, Mini Stationery Set]
12386           12/23/2017                 [Mini Stationery Set, Mini Stationery Set]
12392           12/23/2017                     [Certificate Frame, Sketching Markers]
12401           12/23/2017          [Exercise book, Exercise book, Lanyards, Sketc...
12404           12/23/2017                                            [Exercise book]
Name: Product_Name, dtype: object

In [15]:
transactions = df.groupby(['Transaction_Id'])['Product_Name'].apply(list)
print(transactions.head(10))

Transaction_Id
12359                                      [Exercise book]
12362           [Mini Stationery Set, Mini Stationery Set]
12365                                         [Flash Card]
12371                                       [Drink bottle]
12380                                          [DVD media]
12383           [Mini Stationery Set, Mini Stationery Set]
12386           [Mini Stationery Set, Mini Stationery Set]
12392               [Certificate Frame, Sketching Markers]
12401    [Exercise book, Exercise book, Lanyards, Sketc...
12404                                      [Exercise book]
Name: Product_Name, dtype: object

In [16]:
from apyori import apriori
# type cast the transactions from pandas into normal list format and run apriori
transaction_list = list(transactions)
results = list(apriori(transaction_list, min_support=0.02))
# print first 5 rules
print(results[:5])

[RelationRecord(items=frozenset({'Certificate Frame'}), support=0.0338, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Certificate Frame'}), confidence=0.0338, lift=1.0)]), RelationRecord(items=frozenset({'DVD media'}), support=0.146885, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'DVD media'}), confidence=0.146885, lift=1.0)]), RelationRecord(items=frozenset({'Digital Clock'}), support=0.06735, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Digital Clock'}), confidence=0.06735, lift=1.0)]), RelationRecord(items=frozenset({'Drink bottle'}), support=0.054645, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Drink bottle'}), confidence=0.054645, lift=1.0)]), RelationRecord(items=frozenset({'Exercise book'}), support=0.171005, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Exercise book'}), confidence=0.171005, lift=1.0)])]