In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('STUDENT.csv')

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 35 columns):
id             1044 non-null int64
InitialName    1044 non-null object
school         992 non-null object
sex            1044 non-null object
age            971 non-null float64
address        1044 non-null object
famsize        1044 non-null object
Pstatus        1044 non-null object
Medu           1044 non-null int64
Fedu           1044 non-null int64
Mjob           1044 non-null object
Fjob           1044 non-null object
reason         428 non-null object
guardian       1044 non-null object
traveltime     1044 non-null int64
studytime      1044 non-null int64
failures       1044 non-null int64
schoolsup      1044 non-null object
famsup         1044 non-null object
paid           1044 non-null object
activities     1044 non-null object
nursery        1044 non-null object
higher         1044 non-null object
internet       1044 non-null object
romantic       1044 non-null object
famrel         1044 non-null int64
freetime       1044 non-null int64
goout          1044 non-null int64
Dalc           1044 non-null int64
Walc           1044 non-null int64
health         1044 non-null int64
absences       1044 non-null int64
G1             1013 non-null float64
G2             1013 non-null float64
G3             1044 non-null object
dtypes: float64(3), int64(13), object(19)
memory usage: 285.5+ KB
None

In [4]:
df['school'].value_counts()

DCHS    735
THS     257
Name: school, dtype: int64

In [5]:
def preprocess():
    import pandas as pd
    #Preprocess data
    df_raw = pd.read_csv('STUDENT.csv', index_col=0)
    df = df_raw.drop(['InitialName', 'guardian'], axis=1)
    
    #Map binaries
    df['address'] = df['address'].map({ 'U':0, 'R':1 })
    df['sex'] = df['sex'].map({ 'M':0, 'F':1 })
    df['famsize'] = df['famsize'].map({ 'LE3':0, 'GT3':1 })
    df['Pstatus'] = df['Pstatus'].map({ 'A':0, 'T':1 })
    df['schoolsup'] = df['schoolsup'].map({ 'no':0, 'yes':1 })
    df['famsup'] = df['famsup'].map({ 'no':0, 'yes':1 })
    df['paid'] = df['paid'].map({ 'no':0, 'yes':1 })
    df['activities'] = df['activities'].map({ 'no':0, 'yes':1 })
    df['nursery'] = df['nursery'].map({ 'no':0, 'yes':1 })
    df['higher'] = df['higher'].map({ 'no':0, 'yes':1 })
    df['internet'] = df['internet'].map({ 'no':0, 'yes':1 })
    df['romantic'] = df['romantic'].map({ 'no':0, 'yes':1 })
    df['G3'] = df['G3'].map({ 'FAIL': 0, 'PASS': 1 })

    #Fill via median for age
    df['age'].fillna(df['age'].median(), inplace=True)
    
    #Fill via 'none' since hot encode will flag
    df['school'].fillna('none', inplace=True)
    df['reason'].fillna('none', inplace=True)

    #Drop g1 & 2 empty rows
    cols_miss_drop =['G1', 'G2']
    mask = pd.isnull(df['G1'])
    for col in cols_miss_drop:
     mask = mask | pd.isnull(df[col])
    df = df[~mask]

    #Hot encode
    df = pd.get_dummies(df)
    return df

In [6]:
df = preprocess()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 982 entries, 0 to 1043
Data columns (total 46 columns):
sex                  982 non-null int64
age                  982 non-null float64
address              982 non-null int64
famsize              982 non-null int64
Pstatus              982 non-null int64
Medu                 982 non-null int64
Fedu                 982 non-null int64
traveltime           982 non-null int64
studytime            982 non-null int64
failures             982 non-null int64
schoolsup            982 non-null int64
famsup               982 non-null int64
paid                 982 non-null int64
activities           982 non-null int64
nursery              982 non-null int64
higher               982 non-null int64
internet             982 non-null int64
romantic             982 non-null int64
famrel               982 non-null int64
freetime             982 non-null int64
goout                982 non-null int64
Dalc                 982 non-null int64
Walc                 982 non-null int64
health               982 non-null int64
absences             982 non-null int64
G1                   982 non-null float64
G2                   982 non-null float64
G3                   982 non-null int64
school_DCHS          982 non-null uint8
school_THS           982 non-null uint8
school_none          982 non-null uint8
Mjob_at_home         982 non-null uint8
Mjob_health          982 non-null uint8
Mjob_other           982 non-null uint8
Mjob_services        982 non-null uint8
Mjob_teacher         982 non-null uint8
Fjob_at_home         982 non-null uint8
Fjob_health          982 non-null uint8
Fjob_other           982 non-null uint8
Fjob_services        982 non-null uint8
Fjob_teacher         982 non-null uint8
reason_course        982 non-null uint8
reason_home          982 non-null uint8
reason_none          982 non-null uint8
reason_other         982 non-null uint8
reason_reputation    982 non-null uint8
dtypes: float64(3), int64(25), uint8(18)
memory usage: 239.7 KB
None

In [7]:
df['address'].value_counts()

0    714
1    268
Name: address, dtype: int64

In [8]:
df['school_none'].value_counts()

0    932
1     50
Name: school_none, dtype: int64